.App {
  text-align: center;
  background-color: pink;
  justify-content: center;
	align-items: center;
	text-align: center;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
 
}

.title{ 
  color: red;
  font-family: 'Playfair Display' , sans-serif ;
  font-size: 30px;
}




img{
  height: 300px;

}

.vid{
  justify-content: center;
	align-items: center;
	

}
